*.pdf
*.log
*.bbl
*.blg
*.aux
*.fdb_latexmk
*.synctex.gz
*.sublime-workspace
*.cache
PADI-DSTM/Client/obj/Debug/
PADI-DSTM/Server/obj/Debug/
PADI-DSTM/Master/obj/Debug/
PADI-DSTM/Coordinator/obj/Debug/
PADI-DSTM/Library/obj/Debug/
PADI-DSTM/Transaction/obj/Debug/
PADI-DSTM/Client/bin/Debug/
PADI-DSTM/Server/bin/Debug/
PADI-DSTM/Master/bin/Debug/
PADI-DSTM/Coordinator/bin/Debug/
PADI-DSTM/Library/bin/Debug/
PADI-DSTM/Transaction/bin/Debug/
*.force

